{% extends 'base.html' %}

{% block title %}Edit Interview Responses{% endblock %}

{% block body %}
    <div class="alert alert-info">
    <p>Please write the answers to the following questions. When you're done, submit the answers below.</p>
    <p>You cannot edit your answers after you submit the form.</p>
    <p>The form is saved as you edit it, and you can return to it later.</p>
    </div>

    {% if validity %}
        <div class="alert alert-danger">
            There were some issues with your form. Please fix them below and submit again.
        </div>
    {% endif %}

    
    <p id="save-status-top"></p>
    <script>
        document.getElementById("save-status-top").innerHTML = 'Listening for changes...';
    </script>

    <form method="post">

    {% for question in questions %}
    <div class="card mb-3">
        <div class="card-body">
            {% if question['kind'] == 'section' %}
                <h3>{{question['body']}}</h3>
                <hr />
            {% else %}
                <p>{{question['body']}}</p>
            {% endif %}
            
            {% if question['kind'] == 'radio'%}
                {% for option in question['options'] %}
                <div class="form-check mb-2">
                    <input data-question-id="{{question['id']}}" data-check-option-id="{{option['id']}}" type="radio" name="question-{{question['id']}}" value="{{option['id']}}" class="question-radio-field" id="radio-{{question['id']}}-{{option['id']}}" {{ 'checked' if answers[question['id']] == option['id'] else '' }} required>
                    <label class="form-check-label" for="radio-{{question['id']}}-{{option['id']}}">{{option['name']}}</label>
                </div>
                {% endfor %}
            {% elif question['kind'] == 'check'%}
                {% for option in question['options'] %}
                <div class="form-check mb-2">
                    <input data-question-id="{{question['id']}}" data-check-option-id="{{option['id']}}" type="checkbox" name="question-{{question['id']}}-{{option['id']}}" value="1" class="question-check-field" id="check-{{question['id']}}-{{option['id']}}" {{ 'checked' if answers.get(question['id'] + '-' + option['id']) else '' }}>
                    <label class="form-check-label" for="check-{{question['id']}}-{{option['id']}}">{{option['name']}}</label>
                </div>
                {% endfor %}
            {% elif question['kind'] == 'section' %}
                <!-- no question options here -->
            {% else %}
            <textarea class="question-text-field form-control {{'is-invalid' if validity.get(question['id']) else ''}}" id="question-{{question['id']}}" name="question-{{question['id']}}" data-question-id="{{question['id']}}" rows="3">{{answers[question['id']]}}</textarea>
            {% endif %}


            {% with errors = validity[question['id']] %}
                {% if errors %}
                <div class="invalid-feedback">
                    Please fix the following issues:
                    <ul>
                    {% for feedback in errors %}
                        <li>{{feedback}}</li>
                    {% endfor %}
                    </ul>
                </div>

                {% endif %}
            {% endwith %}

        </div>
    </div>
    {% endfor %}

    <p id="save-status-bot"></p>
    <script>
        document.getElementById("save-status-bot").innerHTML = 'Listening for changes...';
    </script>

    <script>
        var commit = function() {
            document.getElementById("save-status-top").innerHTML = '<span class="text-warning">Saving...</span>';
            document.getElementById("save-status-bot").innerHTML = '<span class="text-warning">Saving...</span>';

            // Build the data to save
            var textareas = document.querySelectorAll('.question-text-field[data-question-id]');
            var data = {};
            Array.from(textareas).map(function(textarea) {
                var questionId = textarea.getAttribute('data-question-id');
                var value = textarea.value;
                
                data[questionId] = value;
            });

            var radios = document.querySelectorAll('.question-radio-field[data-question-id]');
            Array.from(radios).map(function(radio) {
                var questionId = radio.getAttribute('data-question-id');
                if (radio.checked) {
                    var value = radio.value;
                    data[questionId] = radio.getAttribute('data-check-option-id');
                }
            });

            var checks = document.querySelectorAll('.question-check-field[data-question-id]');
            Array.from(checks).map(function(check) {
                var questionId = check.getAttribute('data-question-id');
                var value = check.getAttribute('data-check-option-id');
                data[questionId + "-" + value] = check.checked;                
            });


            // Now send it
            var url = window.location.href;

            fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                .then(function(response) {
                    if (response.ok) {
                        document.getElementById("save-status-top").innerHTML = '<span class="text-success">All changes saved!</span>';
                        document.getElementById("save-status-bot").innerHTML = '<span class="text-success">All changes saved!</span>';

                    } else {
                        console.log("Error saving", response);
                        document.getElementById("save-status-top").innerHTML = '<span class="text-danger">Failed to save changes!</span>';
                        document.getElementById("save-status-bot").innerHTML = '<span class="text-danger">Failed to save changes!</span>';
                    }
                })
                .catch(function(error) {
                    console.log("Error saving", error);
                    document.getElementById("save-status-top").innerHTML = '<span class="text-danger">Failed to save changes!</span>';
                    document.getElementById("save-status-bot").innerHTML = '<span class="text-danger">Failed to save changes!</span>';
                });
        };

        var elements = document.getElementsByClassName("question-text-field");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninput = function() {
                document.getElementById("save-status-top").innerHTML = '<span class="text-warning">Not saved yet... <span class="spinner-border-sm text-warning" role="status"><span class="visually-hidden">Saving...</span></span></span>';
                document.getElementById("save-status-bot").innerHTML = '<span class="text-warning">Not saved yet... <span class="spinner-border-sm text-warning" role="status"><span class="visually-hidden">Saving...</span></span></span>';
            };
            elements[i].onchange = commit;
        }

        var elements = document.getElementsByClassName("question-check-field");
        for (var i = 0; i < elements.length; i++) {
            elements[i].onclick = commit;
        }

        var elements = document.getElementsByClassName("question-radio-field");
        for (var i = 0; i < elements.length; i++) {
            elements[i].onclick = commit;
        }



    </script>

    <noscript>
        <input class="btn btn-danger btn-lg" type="submit" value="Submit form (cannot be undone!)">
    </noscript>

    <script>
        document.write('<div class="d-grid gap-2"><button type="button" class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#submitModal">Submit form</button></div>');
    </script>

    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="submitModalLabel">Are you sure you want to submit?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Once you submit the form, you will not be able to make any changes to it!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <input class="btn btn-danger" type="submit" value="Submit form!">
            </div>
          </div>
        </div>
    </form>

{% endblock %}