{% extends 'base.html' %}

{% block title %}Edit Interview Responses{% endblock %}

{% block body %}
    <div class="alert alert-info">
    <p>Please write the answers to the following questions. When you're done, submit the answers below.</p>
    <p>You cannot edit your answers after you submit the form.</p>
    <p>The form is saved as you edit it, and you can return to it later.</p>
    </div>

    {% if validity %}
        <div class="alert alert-danger">
            There were some issues with your form. Please fix them below and submit again.
        </div>
    {% endif %}

    
    <p id="save-status-top"></p>

    <form method="post">

    {% for question in questions %}
    <div class="card mb-3">
        <div class="card-body">
            <p>{{question['body']}}</p>
            <textarea class="question-field form-control {{'is-invalid' if validity.get(question['id']) else ''}}" id="question-{{question['id']}}" name="question-{{question['id']}}" data-question-id="{{question['id']}}" rows="3">{{answers[question['id']]}}</textarea>
            {% with errors = validity[question['id']] %}
                {% if errors %}
                <div class="invalid-feedback">
                    Please fix the following issues:
                    <ul>
                    {% for feedback in errors %}
                        <li>{{feedback}}</li>
                    {% endfor %}
                    </ul>
                </div>

                {% endif %}
            {% endwith %}

        </div>
    </div>
    {% endfor %}

    <p id="save-status-bot"></p>

    <script>
        var elements = document.getElementsByClassName("question-field");
        for (var i = 0; i < elements.length; i++) {
            elements[i].oninput = function() {
                document.getElementById("save-status-top").innerHTML = '<span class="text-warning">Not saved yet...</span>';
                document.getElementById("save-status-bot").innerHTML = '<span class="text-warning">Not saved yet...</span>';
            };
            elements[i].onchange = function() {
                document.getElementById("save-status-top").innerHTML = '<span class="text-warning">Saving...</span>';
                document.getElementById("save-status-bot").innerHTML = '<span class="text-warning">Saving...</span>';

                // Build the data to save
                var textareas = document.querySelectorAll('textarea[data-question-id]');
                var data = {};
                var textContents = Array.from(textareas).map(function(textarea) {
                    var questionId = textarea.getAttribute('data-question-id');
                    var value = textarea.value;
                    
                    data[questionId] = value;
                });

                // Now send it
                var url = window.location.href;

                fetch(url, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(function(response) {
                        if (response.ok) {
                            document.getElementById("save-status-top").innerHTML = '<span class="text-success">All changes saved!</span>';
                            document.getElementById("save-status-bot").innerHTML = '<span class="text-success">All changes saved!</span>';

                        } else {
                            console.log("Error saving", response);
                            document.getElementById("save-status-top").innerHTML = '<span class="text-danger">Failed to save changes!</span>';
                            document.getElementById("save-status-bot").innerHTML = '<span class="text-danger">Failed to save changes!</span>';
                        }
                    })
                    .catch(function(error) {
                        console.log("Error saving", error);
                        document.getElementById("save-status-top").innerHTML = '<span class="text-danger">Failed to save changes!</span>';
                        document.getElementById("save-status-bot").innerHTML = '<span class="text-danger">Failed to save changes!</span>';
                    });
            };
        }
    </script>

    <noscript>
        <input class="btn btn-danger btn-lg" type="submit" value="Submit form (cannot be undone!)">
    </noscript>

    <script>
        document.write('<div class="d-grid gap-2"><button type="button" class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#submitModal">Submit form</button></div>');
    </script>

    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="submitModalLabel">Are you sure you want to submit?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Once you submit the form, you will not be able to make any changes to it!
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <input class="btn btn-danger" type="submit" value="Submit form!">
            </div>
          </div>
        </div>
    </form>

{% endblock %}